<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flywith24.detail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LaunchModeA"
            android:launchMode="standard" />

        <activity
            android:name=".LaunchModeB"
            android:launchMode="singleTop" />

        <activity
            android:name=".LaunchModeC"
            android:launchMode="singleTask" />

        <activity
            android:name=".LaunchModeD"
            android:launchMode="singleInstance" />

        <activity
            android:name=".TLaunchModeA"
            android:launchMode="standard"
            android:taskAffinity="flywith24.android.detail.t" />

        <activity
            android:name=".TLaunchModeB"
            android:launchMode="singleTop"
            android:taskAffinity=".t" />
        <activity
            android:name=".TLaunchModeC"
            android:launchMode="singleTask"
            android:taskAffinity="flywith24.android.detail.t" />

        <activity
            android:name=".TLaunchModeD"
            android:launchMode="singleInstance"
            android:taskAffinity="flywith24.android.detail.t" />

        <activity
            android:name=".FlagA"
            android:launchMode="standard" />
    </application>

</manifest>