<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.flywith24.detail">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivityA"
            android:launchMode="singleTask" />

        <activity
            android:name=".MainActivityB"
            android:launchMode="singleInstance" />

        <activity
            android:name=".MainActivityC"
            android:launchMode="singleTask"
            android:taskAffinity="com.flywith24.detail.c" />

        <activity
            android:name=".MainActivityD"
            android:launchMode="singleInstance"
            android:taskAffinity="com.flywith24.detail.d" />

    </application>

</manifest>